<style>
    .fields {
        width: 20vw;
    / / margin-left : 40 vw;
    }

    .red {
        background-color: #e84e40;
    }

    .red:hover {

    }

    body {
        background: #dfdfdf;
    }

    .active {
        background-color: #e84e40;

    }

    .panel {
        border-radius: 5px;
        margin-top: 12vh;
        width: 24vw;
        margin-left: 39vw;
        padding: 25px;
        padding-top: 30px;
        -webkit-box-shadow: 0px 2px 1px #bbb;
        -moz-box-shadow: 0px 2px 1px #bbb;
        box-shadow: 0px 2px 1px #bbb;
    }
</style>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">SaveIt</a></h1>
    </li>
  </ul>
</nav>


<div class="panel">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
  <% end %>

  <%= form_tag(:action => 'attempt_login') do |f| %>
      <div class="row">
        <div class="large-12 columns">
          <label>Username
            <%= text_field_tag(:username) %>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Password
            <%= password_field_tag(:password) %>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= submit_tag("Login", :class => "tiny radius button alert red") %>
        </div>
      </div>

  <% end %>

</div>

